<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="resume-wrapper">
    <section class="profile section-padding">
        <div class="container">
            <div class="picture-resume-wrapper">
                <div class="picture-resume">
                    <span><img src="../assets/images/profile.webp" alt="xxxx" /></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="name-wrapper">
                <h1>Krzysztof <br />Klich</h1>
            </div>
            <div class="clearfix"></div>
            <div class="contact-info clearfix">
                <ul class="list-titles">
                    <li>Phone</li>
                    <li>Mail</li>
                    <li>Web</li>
                    <li>Home</li>
                </ul>
                <ul class="list-content ">
                    <li><a href="tel:+48784895309">+48 784 895 309</a></li>
                    <li><a href="mailto:kklich97@gmail.com">{{'kklich97@gmail.com'}}</a></li>
                    <li><a href="#">krzysztofklich.pl</a></li>
                    <li><a href="https://www.google.com/maps/place/Kraków,+PL" target="_blank">Kraków, PL</a></li>
                </ul>
            </div>
            <div class="contact-presentation">
                <p>
                    <span class="bold">Full stack Developer</span> with 4 years of hands-on experience in
                    building and
                    maintaining scalable web applications.
                    Skilled in Angular, TypeScript, C#, and PostgreSQL, with a strong focus on writing clean, efficient
                    code and
                    collaborating effectively within cross-functional teams.

                    Outside of work, I enjoy swimming, bike riding, and following the stock market.
                </p>
            </div>
            <div class="contact-social clearfix">
                <ul class="list-titles">
                    <li><a target="_blank" href="https://www.facebook.com/krzysztof.klich.39/">
                            <img src="../../../assets/logos/facebook.png" alt="facebook">Facebook</a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/krzysztof-klich-794028189/">
                            <img src="../../../assets/logos/linkedin.png" alt="Linkedin">Linkedin</a>
                    </li>
                    <li><a target="_blank" href="https://github.com/kkklich/">
                            <img src="../../../assets/logos/github.svg" alt="GitHub">Github</a> </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="experience section-padding">
        <div class="container">
            <h3 class="title title-margin">Experience</h3>

            <div class="experience-wrapper">
                <div class="company-wrapper clearfix">
                    <div class="title title-margin">Idealogic sp. z o. o.</div>
                    <div class="time">Sep 2021 - Present</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="title title-margin">Fullstack Developer </div>
                    <div class="description">
                        <p>Developed full-stack web applications from scratch using Angular and backend technologies.
                            Responsible
                            for building scalable, responsive features, integrating APIs, and delivering high-quality
                            code in agile
                            teams.</p>
                        <ul class="list-titles list-content">
                            <li>
                                <a target="_blank"
                                    href="https://snelbouwloods.dev.nestoya.tech">snelbouwloods.dev.nestoya.tech</a>
                            </li>
                            <li>
                                <a target="_blank" href="https://inkutlab.nestoya.tech">inkutlab.nestoya.tech</a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="company-wrapper clearfix">
                    <div class="title title-margin">NZS</div>
                    <div class="time">Oct 2019 - Sep 2021</div>
                </div>

                <div class="job-wrapper clearfix">
                    <div class="title title-margin">Web Designer</div>
                    <div class="description">
                        <p>At NZS, a student organization, I created and maintained a WordPress website, managed emails,
                            and helped
                            coordinate projects. This role improved my skills in web development, IT support, and
                            project management.
                        </p>
                    </div>
                </div>
            </div>

            <div class="section-wrapper clearfix">
                <h3 class="section-title">Skills</h3>
                <!-- <ul>
                    <li class="skill-percentage">.NET</li>
                    <li class="skill-percentage">Angular</li>
                    <li class="skill-percentage">SQL</li>
                    <li class="skill-percentage">TypeScript</li>
                    <li class="skill-percentage">HTML</li>
                    <li class="skill-percentage">Postgres</li>
                </ul> -->

                <div class="wrapper">
                    <div class="container-box">
                        <div class="title">Programming Languages</div>
                        <div class="">C#, TypeScript, SQL</div>
                    </div>
                    <div class="container-box">
                        <div class="title">Frameworks</div>
                        <div class="">Angular, .NET, Node.js, Devexpress</div>
                    </div>
                    <div class="container-box">
                        <div class="title">Tools</div>
                        <div class="">Git, Copilot, Rest API, PostgreSQL, MySQL, Postman, SonarQube</div>
                    </div>
                </div>

            </div>

            <div class="section-wrapper clearfix">

                <div>
                    <h3 class="section-title">Education</h3>
                    <div class="education-wrapper">
                        <div class="container-box">
                            <div class="title">Bachelor’s degree in IT & Econometrics</div>
                            <div class="education-time">Oct 2016 - Jun 2020</div>
                        </div>

                        <div class="container-box">
                            <div class="title">Master’s degree in Information Technology</div>
                            <div class="education-time">Oct 2020 - Jun 2022</div>
                        </div>
                    </div>
                </div>
                <div class="hobbies-wrapper">
                    <h3 class="section-title">Hobbies</h3>
                    <p>In my free time, I enjoy swimming, cycling, and going on mountain trips. I'm also passionate
                        about
                        climbing
                        and actively follow the stock market. These activities help me stay active, focused, and
                        continuously curious.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <div class="clearfix"></div>
</div>